<h1>Student progress report</h1>

<h2>Teacher: <%= @teacher.name %></h2>

<ul>
  <% @teacher.class_groups.each do |class_group| %>
    <li>
      <h3>Class <%= class_group.id %></h3>

      <table>
        <tr>
          <th>Student</th>
          <th>Current lesson</th>
          <th>Parts completed</th>
        </tr>
        <% class_group.students.each do |student| %>
          <% last_enrollment = student.enrollments.last %>
          <tr>
            <td><%= student.name %></td>
            <td><%= last_enrollment.lesson.id %></td>
            <td>
              <%= last_enrollment.parts_completed %> of
              <%= last_enrollment.lesson.parts %>
            </td>
          </tr>
        <% end %>
      </table>
    </li>
  <% end %>
</ul>
